<div class="common-box">
  <h3 *ngIf="selectedCategory.id===0">Current category: All categories</h3>
  <div *ngIf="selectedCategory.id !== 0" class="flex">
    <h3>Current category:</h3>
    <input type="text" id="category-name-edit"
           [(ngModel)]="selectedCategory.name"

           class="input-text title-edit-w"
    >
  </div>
  <table border="2px dotted">
    <thead>
    <tr>
      <th class="center">Id</th>
      <th>Title</th>
      <th class="center">Price</th>
      <th class="center">Wholesale price</th>
      <th class="center">Quantity</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let product of products">
      <td class="product-grid-cell center">{{product.id}}</td>
      <td class="product-grid-cell">
        <a (click)="editProduct(product.id)"
           routerLink="/products">{{product.name}}</a>
      </td>
      <td class="product-grid-cell center">{{product.price}}</td>
      <td class="product-grid-cell center">{{product.wholesalePrice}}</td>
      <td class="product-grid-cell center">{{product.quantity}}</td>
    </tr>
    </tbody>
  </table>
  <div>

    <button *ngIf="selectedCategory.id !== 0" class="button button-save" type="button"
            (click)="saveCategory()">Save
    </button>

<!--    <button class="button button-save" type="button" id="button-cadd"-->
<!--            (click)="addCategory()">Add Category-->
<!--    </button>-->

    <button *ngIf="selectedCategory.id !== 0" class="button button-delete" type="button"
            (click)="deleteCategory()">Delete Category
    </button>
  </div>
</div>
