<div class="common-box">
  <h3 *ngIf="selectedCategory.id===undefined">Current category: None, All products</h3>
  <div *ngIf="selectedCategory.id!==undefined" class="flex">
    <h3>Current category:</h3>
    <input type="text" id="category-name-edit"
           [(ngModel)]="selectedCategory.name"

           class="input-text edit-item-field-width-big"
    >
  </div>
  <table class="item-grid-table">
    <thead>
    <tr>
      <th class="center">Id</th>
      <th>Title</th>
      <th class="center">Price</th>
      <th class="center">Wholesale price</th>
      <th class="center">Quantity</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let product of products">
      <td class="item-grid-cell center">{{product.id}}</td>
      <td class="item-grid-cell">
        <a (click)="editProduct(product.id)"
           routerLink="/products/{{product.id}}">{{product.name}}</a>
      </td>
      <td class="item-grid-cell center">{{product.price}}</td>
      <td class="item-grid-cell center">{{product.wholesalePrice}}</td>
      <td class="item-grid-cell center">{{product.quantity}}</td>
    </tr>
    </tbody>
  </table>
  <div>

    <button *ngIf="selectedCategory.id !== undefined" class="button button-save" type="button"
            (click)="saveCategory()">Save
    </button>

    <!--    <button class="button button-save" type="button" id="button-cadd"-->
    <!--            (click)="addCategory()">Add Category-->
    <!--    </button>-->

    <button *ngIf="selectedCategory.id !== undefined" class="button button-delete" type="button"
            (click)="deleteCategory()">Delete Category
    </button>
  </div>
</div>
