<div class="spinner" *ngIf="spinner && spinner.visibility | async"></div>
<div class="app-box-container" >
<!--  <div class="app-box">-->
  <app-header-top *ngIf="cookieEnabled"></app-header-top>
  <app-header *ngIf="cookieEnabled"></app-header>

<p *ngIf="!cookieEnabled">
Cookies are disabled. Turn them on in browser, after that refresh page.
</p>

<div class="items-container min-height">
  <router-outlet *ngIf="cookieEnabled"></router-outlet>
</div>
<app-messages></app-messages>
<app-footer></app-footer>
  </div>
<!--</div>-->
