<!--<div id="sales-grid-main" class="items-container">-->

<!--  <div id="sales-grid" class="items-grid">-->
    <div class="common-box">
      <h3>Sales list</h3>
      <table class="single-grid-table">
        <thead>
        <tr>
          <th class="center">
            <a routerLink="/sales/" (click)="changeSortMode('Id')">Id
              {{sortField === 'Id' && sortMode == 'Desc' ? '↓' : ''}}
              {{sortField === 'Id' && sortMode == 'Asc' ? '↑' : ''}}
            </a>
          </th>
          <th class="center">
            <a routerLink="/sales/" (click)="changeSortMode('Code')">Code
              {{sortField === 'Code' && sortMode == 'Desc' ? '↓' : ''}}
              {{sortField === 'Code' && sortMode == 'Asc' ? '↑' : ''}}
            </a>
          </th>


          <th class="center"><a routerLink="/sales/" (click)="changeSortMode('Created At')">Created At
            {{sortField === 'Created At' && sortMode == 'Desc' ? '↓' : ''}}
            {{sortField === 'Created At' && sortMode == 'Asc' ? '↑' : ''}}
          </a></th>

          <th class="center">
            <a routerLink="/sales/" (click)="changeSortMode('Customer')">Customer
              {{sortField === 'Customer' && sortMode == 'Desc' ? '↓' : ''}}
              {{sortField === 'Customer' && sortMode == 'Asc' ? '↑' : ''}}
            </a>
          </th>
          <th class="center"><a routerLink="/sales/" (click)="changeSortMode('Sum')">Sum, EUR
            {{sortField === 'Sum' && sortMode == 'Desc' ? '↓' : ''}}
            {{sortField === 'Sum' && sortMode == 'Asc' ? '↑' : ''}}
          </a>
          </th>
          <th class="center">
            <a routerLink="/sales/" (click)="changeSortMode('Discount')">Discount
              {{sortField === 'Discount' && sortMode == 'Desc' ? '↓' : ''}}
              {{sortField === 'Discount' && sortMode == 'Asc' ? '↑' : ''}}
            </a>
          </th>
          <th class="center">
            <a routerLink="/sales/" (click)="changeSortMode('Sale condition')">Sale condition
              {{sortField === 'Sale condition' && sortMode == 'Desc' ? '↓' : ''}}
              {{sortField === 'Sale condition' && sortMode == 'Asc' ? '↑' : ''}}
            </a>
          </th>


          <th class="center">Deleted?</th>


        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let sale of sales">
          <td class="single-grid-cell center">{{sale.id}}</td>
          <td class="single-grid-cell">
            <a routerLink="/sales/edit/{{sale.id}}">{{sale.code}}</a>
          </td>
          <td class="single-grid-cell center">
            <a
               routerLink="/sales/edit/{{sale.id}}">
              {{ sale.createdAt | date:'dd.MM.yyyy HH:mm' }}
            </a>
          </td>
          <td class="single-grid-cell center">{{sale.customer.name}}</td>
          <td class="single-grid-cell center">{{sale.sum | number: '1.2-2'}}</td>
          <td class="single-grid-cell center">{{sale.discount}}</td>
          <td class="single-grid-cell center">
            {{ sale.saleCondition }}</td>
          <td class="single-grid-cell center">{{sale.isActive}}</td>

        </tr>
        </tbody>
      </table>

      <div>
        <button class="button button-save" type="button" (click)="addNew()">Add↘</button>
      </div>
    </div>
<!--  </div>-->


<!--</div>-->
