
.row-box-buttons {
  display: flex;
  justify-content: center; /* Равномерно распределяем элементы по горизонтали */
  align-items: center;/* Выравниваем элементы по вертикали по центру */
  margin-top: 10px;
  padding-bottom: 3px;
}






