
<div class="header-top-container">
<!--  <img ngSrc="/assets/images/myshop-logo.svg" width="50" height="50" alt="MyShop v0.3.0">-->
  <a href="#" (click)="openAboutDialog($event)"><img ngSrc="/assets/images/myshop-logo.png" width="50" height="50" alt="MyShop v0.3.0"></a>
  <div class="htop-icons-container">
    <img ngSrc="/assets/images/icon-menu-burger.png" class="htop-icon" width="22" height="22" alt="">
    <a href="#" (click)="userProfile($event)"><img ngSrc="/assets/images/icon-user.svg" class="htop-icon" width="22" height="22" alt="User Menu"></a>

    <a href="#" (click)="logoutAction($event)"><img ngSrc="/assets/images/icon-exit.png" class="htop-icon" width="22" height="22" alt="Exit"></a>
  </div>


</div>
