<nav>
  <a routerLink="/dashboard" routerLinkActive="nav-links-active" class="nav-links">Dashboard</a> |
  <a routerLink="/supply" routerLinkActive="nav-links-active" class="nav-links">Supply</a> |
  <a routerLink="/sales" routerLinkActive="nav-links-active" [routerLinkActiveOptions]="{exact:
false}" class="nav-links">Sales</a> |
  <a routerLink="/products" routerLinkActive="nav-links-active" class="nav-links">Products</a> |
  <a routerLink="/customers" routerLinkActive="nav-links-active" class="nav-links">Customers</a> |
  <a routerLink="/suppliers" routerLinkActive="nav-links-active" class="nav-links">Suppliers</a> |
  <a routerLink="/options" routerLinkActive="nav-links-active" class="nav-links">Options</a>
</nav>

