a.nav-links {
  margin-left: 30px;
  margin-right: 30px;
  font-weight: 500;
  font-size:1.1em;
  color: black;
  font-family: 'DM Sans', sans-serif;


}

a.nav-links-active {
  margin-left: 30px;
  margin-right: 30px;
  text-decoration: underline;
  color: #3961ff;

  font-weight: 900;
  font-size:1.2em;

  font-family: 'DM Sans', sans-serif;

}
