<div id="products-main" class="document-edit-container border-test">
  <!-- DOCUMENT FIELDS -->
  <div *ngIf="!newMode" class="container-document-fields">
    <h2 *ngIf="editedSale">Edit sales document #{{editedSale.id}}</h2>
  </div>
  <div *ngIf="newMode" class="container-document-fields">
    <h2>Add new sales document</h2>
  </div>

  <form class="container-document-fields">
    <div>
      <label>Id: </label>
      <input *ngIf="editedSale"
             type="text"
             id="sale-id" name="sale-id"
             class="input-text edit-item-field-width-small input-text-readonly"
             value="{{editedSale.id}}"
             readonly
      />
    </div>
    <div>
      <label>Date: </label><input *ngIf="editedSale"
                                  type="text"
                                  id="sale-date" placeholder="dd.mm.yyyy"
                                  class="input-text edit-item-field-width-small" name="sale-date"

                                  value="{{ editedSale.createdAt | date:'dd.MM.yyyy' }}"
                                  #saleDateInput
    />
    </div>

    <div>
      <label>Code: </label>
      <input *ngIf="editedSale"
             type="text"
             id="sale-code"
             class="input-text edit-item-field-width-med" name="sale-code"
             [(ngModel)]="editedSale.code"
      />
    </div>

    <div>
      <label>Customer</label>
      <select *ngIf="editedSale" [(ngModel)]="editedSale.customer.id" name="sale-customer" class="select-item">
        <option value="" disabled selected>Choose client for sales invoice</option>
        <option *ngFor="let customer of customers" [ngValue]="customer.id">{{customer.name}}</option>
      </select>

    </div>

    <div>
      <label>Sale condition: </label>
      <input *ngIf="editedSale"
             type="text"
             id="sale-condition"
             class="input-text edit-item-field-width-med" name="sale-condition"
             [(ngModel)]="editedSale.saleCondition"
      />
    </div>


  </form>
  <!-- DOCUMENT FIELDS -->

  <div class="document-edit-cat-and-products-box border-test">


    <div class="categories">
      <h3 >Categories</h3>
      <table class="item-grid-table" *ngIf="editedSale">
        <tbody>
        <tr *ngFor="let category of categories" class="categories-items">
          <td class="item-grid-cell">
            <a
              [ngClass]="{'cat-link-active': category === selectedCategory}"
              [routerLink]="['/sales/edit/', this.editedSale.id]"
              (click)="selectCategory(category)">
               {{category.name}}
            </a>
          </td>
        </tr>
        <tr class="categories-items">
          <td class="item-grid-cell"><a
            [ngClass]="{'cat-link-active': selectedCategory=== allCategory}"
            [routerLink]="['/sales/edit/', this.editedSale.id]"
            (click)="selectAllCategory()">-- All Products
          </a>
          </td>
        </tr>
        </tbody>
      </table>

      <div></div>
    </div>

    <div class="border-test">
      <div id="products-grid" class="document-edit--product-grid">

        <!-- PRODUCTS START -->
        <div class="common-box">
          <div>
            <h3>Current category:
              {{ selectedCategory.id === undefined ? 'None, All products' : selectedCategory.name}}</h3>
          </div>
          <table class="item-grid-table">
            <thead>
            <tr>
              <th class="center">Id</th>
              <th>Title</th>
              <th class="center">Retail Price</th>
              <th class="center">Wholesale price</th>
              <th class="center">Quantity</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let product of products">
              <td class="item-grid-cell center">{{product.id}}</td>
              <td class="item-grid-cell">
                <a (click)="addProductToDocument(product.id)"
                   [routerLink]="['/sales/edit/', this.editedSale.id]"
                >{{product.name}}</a>
              </td>
              <td class="item-grid-cell center">{{product.price}}</td>
              <td class="item-grid-cell center">{{product.wholesalePrice}}</td>
              <td class="item-grid-cell center">{{product.quantity}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- PRODUCTS END -->

      </div>
    </div>
  </div>

  <div class="border-test">

    <!-- ITEMS LIST START -->
    <div class="common-box">
      <div class="flex">
        <h3>Items in Document:</h3>
      </div>
      <table class="item-grid-table" *ngIf="editedSale">
        <thead>
        <tr>
          <th class="center">No</th>
          <th>Product name</th>
          <th class="center">Quantity</th>
          <th class="center">Price, EUR</th>
          <th class="center">Sum, EUR</th>
          <th class="center">Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let item of itemsInSale; let i = index">
          <td class="item-grid-cell center">{{ i + 1 }}</td>
          <td class="item-grid-cell">
            {{item.product.name}}
          </td>
          <td class="item-grid-cell center">{{item.quantity}}</td>
          <td class="item-grid-cell center">{{item.price}}</td>
          <td class="item-grid-cell center">{{item.quantity * item.price}}</td>
          <td class="item-grid-cell center">
            <button type="button" (click)="removeItem(i)">x</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- ITEMS LIST END -->
  </div>

  <div class="document-edit--buttons  border-test">
    <button class="button button-save" type="button" (click)="save()">Save↘</button>
    <button class="button button-cancel" type="button" (click)="cancel()">Cancel↘</button>
  </div>


</div>

