/* здесь находятся общие стили для всех компонентов */
/* специфичные селекторы находятся в соотв. файлах css компонента */

/*загрузка всех сторонних css - более нижний файл будет в приоритете, если найдется повторяющийся селектор*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; /*стили отображения компонентов, окон и пр.  https://material.angular.io/guide/theming */
@import "~bootstrap-css-only/css/bootstrap.min.css";

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  font-weight: lighter;
  font-family: 'Nunito', sans-serif;
  font-size: 28px;
  line-height: 32px;
  color: black;
}

h3 {
  font-weight: lighter;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: black;
}



body {
  margin: 2em;
}
body, button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}




.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
  margin: 0px auto;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;

}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.button{
  border-radius: 85px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: black;
  line-height: 20px;
  height: 48px;
  border-style: none;
  padding: 0px 20px;

  margin: 9px 3px 3px 3px;
}
.button-save{
  background: #9cee80;
}

.button-save:hover{
  background: #7ad05e;
  transform: scale(1.01);
}

.button-cancel{
  background: #f68ca6;
}

.button-cancel:hover{
  background: #ea6a8a;
  transform: scale(1.01);
}

.button-delete{
  background: #e42a5a;
}

.button-delete:hover{
  background: #a62041;
  transform: scale(1.01);
}

.button-logout{
  background: #ffcd4e;
}

.button-logout:hover{
  background: #c79f3a;
  transform: scale(1.01);
}

.input-text{
  font-family: 'Nunito', sans-serif;
  height: 36px;
  margin-left: 10px;
  margin-right: 32px;
  margin-bottom: 8px;
  border-radius: 8px;
  border: 1px solid #CFD8DC;
  padding: 2px 12px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
}
.input-text:focus{
  border: 1px solid #FFE44D;
  outline: none;
}
.input-text:hover{
  transform: scale(1.01);
  border: 1px solid #171716;
}
.edit-item-checkbox {
  margin-left: 20px;
  margin-right: 32px;
  margin-bottom: 8px;
  border-radius: 8px;
  height: 36px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}
.edit-item-checkbox:checked {
  background-color: #007bff; /* Фоновый цвет при нажатии на чекбокс (при выбранном состоянии) */
}
.edit-item-checkbox:checked::before {
  content: '\2713'; /* Символ галочки Unicode */
  color: #fff; /* Цвет галочки */
  font-size: 16px; /* Размер шрифта галочки */
  position: absolute;
  top: 50%; /* Положение галочки по вертикали */
  left: 50%; /* Положение галочки по горизонтали */
  transform: translate(-50%, -50%); /* Смещение галочки на середину элемента */
}


.select-item {
  font-family: 'Nunito', sans-serif;
  height: 36px;
  margin-left: 20px;
  margin-right: 32px;
  margin-bottom: 8px;
  border-radius: 12px;
  border: 1px solid #CFD8DC;
  padding: 2px 12px;
  background-color:white;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
}


.common-box{

  /*width: 420px;*/
  /*height: 426px;*/
  border: 1px solid #CFD8DC;
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 1px 3px rgba(40, 41, 61, 0.24), 0px 4px 6px rgba(96, 97, 112, 0.24);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.edit-item-field-width-big {
  width: 350px;
}
.edit-item-field-width-small {
  width: 120px;
}
.edit-item-field-width-med {
  width: 220px;
}

.items-container{
  display: flex;
  justify-content: center;
  width: 100%;
  border: 0px solid #403f3f;
  padding: 1em;
}
.items-cat{
  width:20%;
  border: 0px solid #403f3f;
}
.cat-link-active {
  color: red;
  font-size: 18px;
}
.cat-link-active:hover {
  color: red;

}

.items-grid{
  width:80%;
  border: 0px solid #403f3f;
}
.item-edit{

}
.item-grid-cell {
  padding: 5px;

}
.item-grid-table {
  border: 1px solid;
}
.center{
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}
th {
  padding: 5px;
}

thead tr {
  border-bottom: 1px solid;
}
.bgc-lgrey {
  background-color: #e1e0e0;
}
.edit-item-row-box {
  display: flex;
  justify-content: space-between; /* Равномерно распределяем элементы по горизонтали */
  align-items: end;/* Выравниваем элементы по вертикали по центру */
  padding: 3px;
}
.edit-item-title {
  font-family: 'Nunito', sans-serif;
  font-size: 28px;
  line-height: 32px;
  color: black;
}

.container-document-fields{
 border: 1px solid #CFD8DC;
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 1px 3px rgba(40, 41, 61, 0.24), 0px 4px 6px rgba(96, 97, 112, 0.24);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


